body {
    font-family: Arial;
    background: #eee;
}

.box {
    background: white;
    width: 600px;
    margin: 50px auto;
    padding: 25px;
    text-align: center;
}

input {
    padding: 10px;
    margin: 5px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
}