body {
    font-family: Arial;
    text-align: center;
    background: #f2f2f2;
}

.quiz {
    width: 400px;
    margin: 100px auto;
    padding: 30px;
    background: white;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    margin: 8px;
    cursor: pointer;
}

#options button {
    display: block;
    width: 100%;
}

.correct {
    background: lightgreen;
}

.wrong {
    background: lightcoral;
}

#quiz-box,
#restart {
    display: none;
}
